data/**
logs/**
pickles/**
.ipynb_checkpoints/**
!**/.keep
spider_net/__pycache__/*
figures/**
**/*.ipynb
!spider-nas.ipynb
!monitoring.ipynb
*.onyx
debug_copy.py
graph.txt
profiler.py
correlations/**
__pycache__/**
.idea/*
